<div class="inventory-zone zone-{{zone}}">
  {{#each items}}
  {{> item-row item=this canEdit=../canEdit canGive=../canGive isGM=../isGM isOwner=../isOwner}}
  {{/each}}
  {{#if canEdit}}
  <button type="button" class="add-item-zone-btn" data-action="addItem" data-zone="{{zone}}">
    <i class="fas fa-plus"></i> Add Item
  </button>
  {{else if canAddItem}}
  <button type="button" class="add-item-zone-btn add-item-zone-btn--player" data-action="addItem" data-zone="{{zone}}">
    <i class="fas fa-plus"></i> Add Custom Item
  </button>
  {{/if}}
</div>
